@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "Overpass", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 21, 24, 1);
}
